.navbar-grande {
  height: 80px;
}

.navbar-grande .navbar-brand {
    font-size: 1.3rem;
    font-weight:bold;
}

.navbar-grande .nav-link {
    color: #333333;
      padding: 0 1rem;
  font-size: 1.2rem;
    font-weight: 500;
    display: flex;
  align-items: center;
}

.navbar-grande .navbar-brand:hover {
    color: #333333;
    font-weight: 700;
}

.navbar-grande .nav-link:hover {
    color: black;
    font-weight: 600;
}

.navbar-grande .btn {
    font-weight: 500;
    margin-left: 0.5rem;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}
